body {
  font-family: sans-serif;
  background: url('https://blogs.uww.edu/stardewvalleyblog/files/2021/02/mountainsBg.png')
    fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 10vh;
  color: white;
}

.navbar h1 {
  padding-left: 20px;
}

.navLink {
  font-size: large;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 25px;
}

label {
  display: block;
}

form div {
  margin: 0.5em;
  display: inline-block;
}

/* Home Page */
.stardew {
  width: 80%;
}

.MuiContainer-root {
  margin-top: 10%;
}

/* About Page */
.box {
  height: 80vh;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
}

.box:hover {
  background-color: 'pink';
}

.about {
  padding: 5px;
  margin: auto 5%;
}

.owner {
  width: 150px;
  height: 150px;
}

/* All Products Styles */
.productsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.filter {
  display: flex;
  padding: 10px 20px;
}

.filter > h3 {
  padding-right: 20px;
}

#productsFilter {
  font-weight: 900;
  font-size: large;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

#product_description {
  border-bottom: 3px solid #a2d2ff;
  font-size: 3em;
  transition: all 0.25s linear;
  position: relative;
}

#product_description:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #b2f9fc;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

#product_description:hover:before {
  transform: scale(1);
}

/* Single Product Styles */
.singleProductDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2rem;
  background-color: #e4fbff;
  padding-bottom: 2%;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.singleProductDesc {
  overflow-wrap: normal;
}

.inputQty {
  margin-right: 1rem;
}

.single_product_form {
  text-align: center;
}

/* Sign up and Login page */
input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 250px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input:focus,
input:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.signup__link {
  text-align: center;
  margin-top: 2em;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}

.signup__link:focus,
.signup__link:hover {
  color: darken(#999, 13%);
}

/* Profile page */
.profile_box{
  padding: 2% 10%;
  text-align: center;
  align-content: center;
  border: 60px;
  margin: 5% 10%;
  background-color: #e4fbff;
}
.profileimage {
  align-items: center;
}
.MuiButton-containedPrimary {
  background-color: #2840c7;
  padding: 2px;
  margin: 2px;
}

.profilebuttonlabel {
  color: #2840c7;
  padding: 2px;
  margin: 2px;
}

.profile_info{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr;
  align-items: center;
}

.profile_info h4{
  font-size: 0.875rem;
}

/* confirmation page */
#confirm_icon {
  transform: scale(3);
  margin-top: 5%;
  margin-bottom: 5px;
  color: #105652;
  transition: color 0.5s ease-in 0.3s;
}

.confirm_img {
  margin-top: 1rem;
  width: 300px;
}

/* cart item */

.cartitem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  margin-bottom: 8px;
}

.cartItem__name {
  text-decoration: none;
  color: #171717;
}

.cartItem__name:hover {
  color: #dd219e;
}

.cartItem__select {
  padding: 10px 17px;
}

.cartItem__deleteBtn {
  padding: 10px 17px;
  color: red;
  background: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartItem__deleteBtn:hover,
.carItem__deleteBtn:active,
.carItem__deleteBtn:focus {
  background: #171717;
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.6rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
  }
}

/* cart page */
.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 3rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
  margin-top: 5rem;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button {
  padding: 10px 17px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
}

#cart_subtotal{
  display: grid;
  grid-template-columns: 4fr 4fr;
  padding: 0;
  border-bottom: 0
}

#cart_total{
  margin-left: 50%;
}

#cart_total p{
  padding: 0;
}

#cart_subtotal p{
  padding: 0 0 0 20px;
}

#cart_input{
  width: 100px
}

#cart_title{
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}

/* checkout page */
.checkout_page{
  margin: 5% 15%;
}

.shiping_box{
  padding: 3%;
  margin: auto;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item{
  padding-left: 0;
}

/* order history */

.order_history{
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  align-items: start;
  text-align: left;
  margin: -7px auto;
}

.order_number{
  text-align: left;
}

.order_total{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1em;
  text-align: right;
}

#history_img{
  margin: auto;
}

